@import "less/tooltip.less";

.tooltip-inner {
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.08), 0 0 5px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 3px rgba(0,0,0,.05);
     -moz-box-shadow: 0 3px 5px rgba(0,0,0,.08), 0 0 5px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 3px rgba(0,0,0,.05);
          box-shadow: 0 3px 5px rgba(0,0,0,.08), 0 0 5px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 3px rgba(0,0,0,.05);
  border: 1px solid #bebebe;
  padding: 7px 9px;
}
.tooltip {
  &.top .tooltip-arrow {
    border-top-color: #bebebe;
  }
  &.top-left .tooltip-arrow {
    border-top-color: #bebebe;
  }
  &.top-right .tooltip-arrow {
    border-top-color: #bebebe;
  }
  &.right .tooltip-arrow {
    border-right-color: #bebebe;
  }
  &.left .tooltip-arrow {
    border-left-color: #bebebe;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: #bebebe;
  }
  &.bottom-left .tooltip-arrow {
    border-bottom-color: #bebebe;
  }
  &.bottom-right .tooltip-arrow {
    border-bottom-color: #bebebe;
  }
}
