<div class="bs-social">
  <ul class="bs-social-buttons">
    <!--
    <li>
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://www.nps.gov/npmap/widgets/github-button.html?user=nationalparkservice&amp;repo=bootstrap&amp;type=watch&amp;count=true" style="height:20px;width:100px;" title="Star on GitHub"></iframe>
    </li>
    <li>
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://www.nps.gov/npmap/widgets/github-button.html?user=nationalparkservice&amp;repo=bootstrap&amp;type=fork&amp;count=true" style="height:20px;width:102px;" title="Fork on GitHub"></iframe>
    </li>
    -->
    <li class="follow-btn">
      <a href="https://twitter.com/npmap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @npmap</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.nps.gov/tools/bootstrap" data-count="horizontal" data-via="npmap">Tweet</a>
    </li>
  </ul>
</div>
